/*colores definidos */
:root{ 

  --font-h1: #003366;
  --font-h2: #133786;
  --font-h3: #16419c;
  --font-h4: #1948af;
  --font-h5: #194ab3;

  --bgBodyMain: #d2def9;

  --bgNavbarUp: #8faeef;
  --bgNavbarDown: #d2def9;
  --linkMenuHover: #638de9;


  --bgBtnHamburguesa: #f79fd9;

  --lblColor: #16419c;
  --borderColorInput: #194ab3;
  --bgColorInput: #d2def9;




  --bgFooterUp: #8faeef;
  --bgFooterDown: #d2def9;
}