:root{ 
  /* Paleta de Colores */
  --primary: #003366;
  --secondary: #1948af;
  --tertiary:#638de9; /*8faeef*/
  /* colores con degradados */
  --primary-75: color-mix(in srgb, var(--primary) 75%, white);
  --primary-50: color-mix(in srgb, var(--primary) 50%, white);
  --primary-25: color-mix(in srgb, var(--primary) 25%, white);
  --secondary-75: color-mix(in srgb, var(--secondary) 75%, white);
  --secondary-50: color-mix(in srgb, var(--secondary) 50%, white);
  --secondary-25: color-mix(in srgb, var(--secondary) 25%, white);
  --tertiary-75: color-mix(in srgb, var(--tertiary) 75%, white);
  --tertiary-50: color-mix(in srgb, var(--tertiary) 50%, white);  
  --tertiary-25: color-mix(in srgb, var(--tertiary) 25%, white);
  
  --bg-primary: #8faeef;
  --bg-secondary: #d2def9;

  /* tokens semanticos ( donde usar los colores) */
  --gradient-primary: linear-gradient(
    to bottom,
    var(--bg-primary),
    var(--bg-secondary)
  );
  --gradient-secondary: linear-gradient(
    to bottom,
    var(--bg-secondary),
    var(--bg-primary)
  );

  --menu-hover: var(--tertiary);

}
