/* identa bien el código para que sea fácil de leer */
  
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h2{  
  font-family: "Gelasio", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  color: var(--primary-75);
  text-align: center;
}

.header h3{
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: var(--secondary);
  font-size: 2.5rem;
  display: inline-block;
}

.header p{
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  color: var(--secondary);
  font-size: 1.3rem;
}

.logoHome{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

span{
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  color: var(--prymary);
  font-style: normal;
  font-weight: bold;
}

.rotative{
  display: inline-block;
  color: var(--primary);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: justify;
  font-size: 3rem;
  /* Animación */
  animation: aparecerYSubir 0.5s ease-out forwards;
}

@keyframes aparecerYSubir {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
