/*
Puedes separar el archivo para qu eno se crezcca mucho y lleve un sentido, respecto al contexto,
aquí puedes dejar estilos generales h1, h2, body, main, etc..

y crear menu.css dentro del componente del menú, así lo puedes reutilizar en otro proyecto
footer igual

recuerda que los estilos de un componente puedes agruparlos en un carpeta, ejemplo:
- components
   - menu
     - menu.jsx
     - menu.css
   - footer
     - footer.jsx
     - footer.css
*/


@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  font-family: -apple-system, Montserrat, sans-serif, serif;
}

h1{
  color: var(--font-h1);
  text-align: center;
}
h2{
  color: var(--font-h2);
  text-align: center;
} 
h3{
  color: var(--font-h3);
  text-align: justify;
} 
h4{
color: var(--font-h4);
text-align: justify;
} 
h5{
  color: var(--font-h5);
  text-align: justify;
}    

body{  
  margin: 0;  
  background: var(--bgBody);
  padding-left: 5px;
  padding-right: 5px; 
}
main{
  flex-grow: 1;
  margin: 10px;
  padding: 5px;;
}
.layout{
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

/* formularios*/
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.divForms{
  padding: 5px;
  border-radius: 6px;
  width: 80%;
  align-items: center;
  text-align: center;
}
.labelForm{
  display: inline-block;
  text-align: start;
  vertical-align: top;
  color: var(--lblColor);
  font-weight: bold;
  width: 95%;
  padding: 5px;
}
.inputForm{
  width: 95%;
	padding: 8px 5px;
	border-radius: 6px ;
	border: 2px solid var(--borderColorInput);
	background: var(--bgColorInput);
	font-size: 0.9em;
}
.selectForm{
  width: 95%;
	padding: 8px 5px;
	border-radius: 6px ;
	border: 2px solid var(--borderColorInput);
	background: var(--bgColorInput);
	font-size: 0.9em;
}
.textareaForm{
   width: 95%;
   height: 200px;
	padding: 8px 5px;
	border-radius: 6px ;
	border: 2px solid var(--borderColorInput);
	background: var(--bgColorInput);
	font-size: 0.9em;
}
.btnForm{
  width: 100px;
  height: 40px;
  border: 2px solid var(--btnColorBorder);
  color: var(--btnTxtColor);
  background-color: var(--btnForm);
  border-radius: 5px;
}
.btnForm:hover{
  background: var(--btnFormHover);
  color: white;
} 


/* puntos de ruptura  */
@media (min-width:780px){
  body{
    padding-left: 10px;
    padding-right: 10px;
  }

  .labelForm{
    width: 120px;
  }
  .inputForm{
    width: calc(80% - 120px);
  }
  .selectForm{
    width: calc(80% - 120px);
  }
  .textareaForm{
    width: calc(80% - 120px);
  }
}

@media (min-width:1800px){
  body{
    padding-left: 10%;
    padding-right: 10%;
  }

}


