@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  font-family: -apple-system, Montserrat, sans-serif, serif;
}
/*
h1{
  color: var(--font-h1);
  text-align: center;
}
h2{
  color: var(--font-h2);
  text-align: center;
} 
h4{
  color: var(--font-h4);
  text-align: justify;
  } 
  h5{
    color: var(--font-h5);
    text-align: justify;
    }
    */

  h3{
    color: var(--font-h3);
    text-align: justify;
  } 
body{
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0px;
  padding: 0px;
  background: var(--bgBodyMain);
}
main{
  flex-grow: 1;
  margin: 10px;
  padding: 5px;;
}

footer{
  background:  linear-gradient(to top, var(--bgFooterUp), var(--bgFooterDown) );
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  width: 100%;
}
  /* seccion barra de navegaciónr */
.navbar{
  background:  linear-gradient(to bottom , var(--bgNavbarUp), var(--bgNavbarDown) );
  height: 40px;
}
.menu{
  display: flex;
  flex-direction: row ;
  justify-content: flex-end;
}

.linkMenu{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
}
.linkMenu:hover{
  background: var(--linkMenuHover);
}

.btnHamburguesa{
  display: none;
  font-size: 10px;
  padding: 5px 10px;
  cursor: pointer;
   /* background: var(--bgBtnHamburguesa);*/
    color: white;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1100;
  width: 50px;
  height: 40px;
}

.menuMovil{
  display: none;
  flex-direction: column ;
  justify-content: flex-end;
}


/* formularios*/
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.divForms{
  padding: 5px;
  border-radius: 6px;
  width: 80%;
  align-items: center;
  text-align: center;
}
.labelForm{
 display: inline-block;
 text-align: start;
 vertical-align: top;
 color: var(--lblColor);
 font-weight: bold;
 width: 120px;
 padding: 5px;
}

.inputForm{
  width: calc(80% - 120px);/* 70px */
	padding: 8px 5px;
	border-radius: 6px ;
	border: 2px solid var(--borderColorInput);
	background: var(--bgColorInput);
	font-size: 0.9em;
}
.selectForm{
  width: calc(80% - 120px);/* 70px */
	padding: 8px 5px;
	border-radius: 6px ;
	border: 2px solid var(--borderColorInput);
	background: var(--bgColorInput);
	font-size: 0.9em;
}

.textareaForm{
   width: calc(80% - 120px);/* 70px */
   height: 200px;
	padding: 8px 5px;
	border-radius: 6px ;
	border: 2px solid var(--borderColorInput);
	background: var(--bgColorInput);
	font-size: 0.9em;
}
.btnForm{
  width: 100px;
  height: 40px;
  border: 2px solid var(--btnColorBorder);
  color: var(--btnTxtColor);
  background-color: var(--btnForm);
  border-radius: 5px;
}

.btnForm:hover{
  background: var(--btnFormHover);
  color: white;
} 


/* responsive */

@media (max-width: 700px) {
  /*
  .menu{
    display: none;
  } 
  
  .btnHamburguesa {
    display: flex;
  }
  .menuMovil{
    display: flex;
  }
  .linkMenu{
    flex-direction: column ;
    align-items: end;
  }
*/
  .labelForm{
    width: 95%;
  }
.inputForm{
  width: 95%;
}
.selectForm{
  width: 95%;
}
.textareaForm{
  width: 95%;
}

}