*{
  box-sizing: border-box;
  font-family: -apple-system, Roboto, sans-serif, serif;
}

h1{
  color: var(--font-h1);
  text-align: center;
}
h2{
  color: var(--font-h2);
  text-align: center;
} 
h3{
  color: var(--font-h3);
  text-align: justify;
} 
  h4{
  color: var(--font-h4);
  text-align: justify;
} 
  h5{
  color: var(--font-h5);
  text-align: justify;
}

.bodyMain{  
    background: var(--bgBodyMain);
}

.navbar{
  background:  linear-gradient(to bottom , var(--bgNavbarUp), var(--bgNavbarDown) );
  height: 40px;
}

.menu{
  display: flex;
  flex-direction: row ;
  justify-content: flex-end;
}

.linkMenu{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
}

.linkMenu:hover{
  background: var(--linkMenuHover);
}

.btnHamburguesa{
  display: none;
  font-size: 10px;
  padding: 5px 10px;
  cursor: pointer;
   /* background: var(--bgBtnHamburguesa);*/
    color: white;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1100;
  width: 50px;
  height: 40px;
}

.menuMovil{
  display: none;
  flex-direction: column ;
  justify-content: flex-end;
}

.footer{
  display: flex;
  background:  linear-gradient(to top, var(--bgFooterUp), var(--bgFooterDown) );
  height: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* formularios*/
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.divForms{
  padding: 5px;
  border-radius: 6px;
}
.labelForm{
 display: inline-block;
 text-align: justify;
 vertical-align: top;
 color: var(--lblColor);
 width: 120px;
 padding: 5px;
}

.inputForm{
  width: calc(95% - 120px);/* 70px */
	padding: 8px 5px;
	border-radius: 6px ;
	border: 2px solid var(--borderColorInput);
	background: var(--bgColorInput);
	font-size: 0.9em;
}
.selectForm{
  width: calc(95% - 120px);/* 70px */
	padding: 8px 5px;
	border-radius: 6px ;
	border: 2px solid var(--borderColorInput);
	background: var(--bgColorInput);
	font-size: 0.9em;
}

.textareaForm{
   width: calc(95% - 120px);/* 70px */
   height: 200px;
	padding: 8px 5px;
	border-radius: 6px ;
	border: 2px solid var(--borderColorInput);
	background: var(--bgColorInput);
	font-size: 0.9em;
}


/* responsive */

@media (max-width: 700px) {
  .menu{
    display: none;
  } 
  
  .btnHamburguesa {
    display: flex;
  }
  .menuMovil{
    display: none;
  }
  .linkMenu{
    flex-direction: column ;
  }

  .labelForm{
    width: 95%;
  }
.inputForm{
  width: 95%;
}
.selectForm{
  width: 95%;
}
.textareaForm{
  width: 95%;
}

}