
footer{
  background:  linear-gradient(to top, var(--bgFooterUp), var(--bgFooterDown) );
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  width: 100%;
}

footer div{
  color: var(--font-h3);
  text-align: center;
  font-family: "Gelasio", sans-serif;
  display: inline-block;
}
